
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/bk-web");
   
}

.pad-top {
    padding-top:40px;
}

